# flyctl launch added from .gitignore
target
**/**/*.rs.bk

# flyctl launch added from target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/.gitignore
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/bin/jemalloc-config
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/bin/jemalloc.sh
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/bin/jeprof

target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/config.stamp
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/config.log
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/config.status
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/configure

target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/doc/html.xsl
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/doc/manpages.xsl
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/doc/jemalloc.xml
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/doc/jemalloc.html
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/doc/jemalloc.3

target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/doc_internal/PROFILING_INTERNALS.pdf

target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/jemalloc.pc

target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/lib

target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/Makefile

target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/include/jemalloc/internal/jemalloc_preamble.h
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/include/jemalloc/internal/jemalloc_internal_defs.h
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/include/jemalloc/internal/private_namespace.gen.h
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/include/jemalloc/internal/private_namespace.h
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/include/jemalloc/internal/private_namespace_jet.gen.h
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/include/jemalloc/internal/private_namespace_jet.h
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/include/jemalloc/internal/private_symbols.awk
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/include/jemalloc/internal/private_symbols_jet.awk
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/include/jemalloc/internal/public_namespace.h
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/include/jemalloc/internal/public_symbols.txt
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/include/jemalloc/internal/public_unnamespace.h
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/include/jemalloc/jemalloc.h
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/include/jemalloc/jemalloc_defs.h
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/include/jemalloc/jemalloc_macros.h
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/include/jemalloc/jemalloc_mangle.h
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/include/jemalloc/jemalloc_mangle_jet.h
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/include/jemalloc/jemalloc_protos.h
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/include/jemalloc/jemalloc_protos_jet.h
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/include/jemalloc/jemalloc_rename.h
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/include/jemalloc/jemalloc_typedefs.h

target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/src/*.[od]
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/src/*.sym

target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/run_tests.out

target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/test/test.sh
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/**/test/include/test/jemalloc_test.h
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/**/test/include/test/jemalloc_test_defs.h

target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/test/integration/[A-Za-z]*
!target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/test/integration/cpp
!target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/test/integration/[A-Za-z]*.*
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/test/integration/*.[od]
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/test/integration/*.out

target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/test/integration/cpp/[A-Za-z]*
!target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/test/integration/cpp/[A-Za-z]*.*
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/test/integration/cpp/*.[od]
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/test/integration/cpp/*.out

target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/test/src/*.[od]

target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/test/stress/[A-Za-z]*
!target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/test/stress/[A-Za-z]*.*
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/test/stress/*.[od]
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/test/stress/*.out

target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/test/unit/[A-Za-z]*
!target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/test/unit/[A-Za-z]*.*
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/test/unit/*.[od]
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/test/unit/*.out

target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/test/analyze/[A-Za-z]*
!target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/test/analyze/[A-Za-z]*.*
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/test/analyze/*.[od]
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/test/analyze/*.out

target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/VERSION

target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/**/*.pdb
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/**/*.sdf
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/**/*.opendb
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/**/*.VC.db
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/**/*.opensdf
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/**/*.cachefile
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/**/*.suo
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/**/*.user
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/**/*.sln.docstates
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/**/*.tmp
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/**/.vs
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/msvc/Win32
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/msvc/x64
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/msvc/projects/*/*/Debug*
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/msvc/projects/*/*/Release*
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/msvc/projects/*/*/Win32
target/debug/build/jemalloc-sys-700cc4abc124c736/out/build/msvc/projects/*/*/x64

# flyctl launch added from target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/.gitignore
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/bin/jemalloc-config
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/bin/jemalloc.sh
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/bin/jeprof

target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/config.stamp
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/config.log
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/config.status
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/configure

target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/doc/html.xsl
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/doc/manpages.xsl
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/doc/jemalloc.xml
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/doc/jemalloc.html
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/doc/jemalloc.3

target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/doc_internal/PROFILING_INTERNALS.pdf

target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/jemalloc.pc

target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/lib

target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/Makefile

target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/include/jemalloc/internal/jemalloc_preamble.h
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/include/jemalloc/internal/jemalloc_internal_defs.h
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/include/jemalloc/internal/private_namespace.gen.h
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/include/jemalloc/internal/private_namespace.h
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/include/jemalloc/internal/private_namespace_jet.gen.h
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/include/jemalloc/internal/private_namespace_jet.h
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/include/jemalloc/internal/private_symbols.awk
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/include/jemalloc/internal/private_symbols_jet.awk
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/include/jemalloc/internal/public_namespace.h
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/include/jemalloc/internal/public_symbols.txt
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/include/jemalloc/internal/public_unnamespace.h
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/include/jemalloc/jemalloc.h
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/include/jemalloc/jemalloc_defs.h
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/include/jemalloc/jemalloc_macros.h
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/include/jemalloc/jemalloc_mangle.h
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/include/jemalloc/jemalloc_mangle_jet.h
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/include/jemalloc/jemalloc_protos.h
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/include/jemalloc/jemalloc_protos_jet.h
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/include/jemalloc/jemalloc_rename.h
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/include/jemalloc/jemalloc_typedefs.h

target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/src/*.[od]
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/src/*.sym

target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/run_tests.out

target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/test/test.sh
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/**/test/include/test/jemalloc_test.h
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/**/test/include/test/jemalloc_test_defs.h

target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/test/integration/[A-Za-z]*
!target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/test/integration/cpp
!target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/test/integration/[A-Za-z]*.*
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/test/integration/*.[od]
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/test/integration/*.out

target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/test/integration/cpp/[A-Za-z]*
!target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/test/integration/cpp/[A-Za-z]*.*
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/test/integration/cpp/*.[od]
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/test/integration/cpp/*.out

target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/test/src/*.[od]

target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/test/stress/[A-Za-z]*
!target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/test/stress/[A-Za-z]*.*
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/test/stress/*.[od]
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/test/stress/*.out

target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/test/unit/[A-Za-z]*
!target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/test/unit/[A-Za-z]*.*
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/test/unit/*.[od]
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/test/unit/*.out

target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/test/analyze/[A-Za-z]*
!target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/test/analyze/[A-Za-z]*.*
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/test/analyze/*.[od]
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/test/analyze/*.out

target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/VERSION

target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/**/*.pdb
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/**/*.sdf
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/**/*.opendb
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/**/*.VC.db
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/**/*.opensdf
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/**/*.cachefile
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/**/*.suo
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/**/*.user
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/**/*.sln.docstates
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/**/*.tmp
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/**/.vs
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/msvc/Win32
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/msvc/x64
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/msvc/projects/*/*/Debug*
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/msvc/projects/*/*/Release*
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/msvc/projects/*/*/Win32
target/release/build/jemalloc-sys-8357e66a578f5fbd/out/build/msvc/projects/*/*/x64
fly.toml
